<!-- 
<nav >
  <div class="main-container">
    <div class="container">
      <div class="tabs">
        <div class="tab" for="radio-1">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            >Projects</a
          >
        </div>
        <div class="tab" for="radio-1">
          <a
            class="nav-link"
            routerLink="components"
            routerLinkActive="active"
            >Components</a
          >
        </div>
      
        <div class="tab" for="radio-1">
          <a
            class="nav-link"
            routerLink="addProject"
            routerLinkActive="active"
            *ngIf="status == 'active'"
            >Add Project</a
          >
        </div>
        <div class="tab" for="radio-1">
          <a
            class="nav-link"
            routerLink="contactUs"
            routerLinkActive="active"
            >Contact Us</a
          >
        </div>
        <div class="tab" for="radio-1">
          <a
            class="nav-link"
            routerLink="Login"
            routerLinkActive="active"
            *ngIf="status !== 'active'"
            >Login</a
          >
        </div>

        <div class="tab" for="radio-1">
          <a
            class="nav-link"
            routerLink="editProfile"
            routerLinkActive="active"
            *ngIf="status == 'active'"
            >Edit Profile</a
          >
        </div>

        <div class="tab" for="radio-1">
          <a
            class="nav-link"
            routerLink="wishlist"
            routerLinkActive="active"
            *ngIf="status == 'active'"
            >Wishlist</a
          >
        </div>       
       

        <div class="tab" for="radio-1">
          <a
            class="nav-link"
            routerLink="Logout"
            routerLinkActive="active"
            *ngIf="status == 'active'"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HAK</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active"
          >Projects</a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="components" routerLinkActive="active"
          >Components</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="addProject"
          routerLinkActive="active"
          *ngIf="status == 'active'"
          >Add Project</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="contactUs" routerLinkActive="active"
          >Contact Us</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="Login"
          routerLinkActive="active"
          *ngIf="status !== 'active'"
          >Login</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="editProfile"
          routerLinkActive="active"
          *ngIf="status == 'active'"
          >Edit Profile</a
        >
      </li>

      <!-- <li class="nav-item">
        <a
          class="nav-link"
          routerLink="wishlist"
          routerLinkActive="active"
          *ngIf="status == 'active'"
          >Wishlist</a
        >
      </li> -->
    </ul>
  </div>
  <div class="logout">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="Logout"
          routerLinkActive="active"
          *ngIf="status == 'active'"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
