<!-- <div class="card">
    <img src="{{project.projectImage1}}" alt="Card image">
    <div class="card-body">
      <h2>{{project.name}}</h2>
      <p>{{project.description}}</p>
      <a href="#">Buy Now</a>
    </div>
  </div> -->

  <!-- <div class="card">
    <img src="{{project.projectImage1}}" alt="Card image">
    <div class="card-body">
      <h3 class="card-title">{{project.name}}</h3>
      <p class="card-text">{{project.description}}</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div> -->

  
  <div class="container">
    <div class="card">
        <img src="{{project.projectImage1}}" alt="Card image">
        <div class="card-body">
          <h3 class="card-title">{{project.name}}</h3>
          <p class="card-text">{{project.description}}</p>
          <div class="centre"><button class="btn" (click)="buy()">Buy Now</button></div>
          
        </div>
    </div>
  </div>