<div class="test">
<div class="container">
<app-search (searchTextChange)="onSearchtextEntered($event)"></app-search>
  <div class="row" *ngIf="projectStatus !== 'active'">
      <ng-container *ngFor="let project of projects">
          <div class="card col-md-3" *ngIf="searchText === '' || project.name.toLowerCase().includes(searchText)">
              <img src="{{project.projectImage}}" alt="">
              <h2 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{project.name}}</h2>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{project.description}}</p>
              <p><strong>Price:</strong>{{project.sellCost}} Rs</p>
              <button class="btn btn-primary" *ngIf="project.uploadedBy === id" (click)="editProject(project.id)">edit Component</button>
                <br>
              <button class="btn btn-primary" (click)=myComponents(project)>Read More</button>
              <br>
              <button class="btn btn-primary" *ngIf="project.uploadedBy === id" (click)="deleteProject(project.id)">Delete Project</button>
          </div>
      </ng-container>
  </div>
</div>
</div>
